<link rel="import" href="../polymer/polymer.html">

<!--External imports-->
<link rel="import" href="../iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../paper-button/paper-button.html">

<!-- Imports from Extinet Elements -->
<link rel="import" href="forms-input-illustrator.html">


<!--
`forms-input`
The forms input document styled to look like a Office document template&#34;

@demo demo/index.html 
-->

<dom-module id="forms-input">
  <template>
    <style>
      :host {
        display: block;
      }
      .card {
	    	border-top: 5px solid #42A5F5; 
	        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
	        padding: 16px;
	        margin: 24px;
	        border-radius: 5px;
	        background-color: #fff;
	        color: #757575;
	        width:auto;
	        margin-left: auto;
	        margin-right: auto;
	        display: block;
	        max-width: 500px;
	    }

      .logo {
        height: 80px;
        width: 80px;
	    } 
      .flex-justified {
        @apply(--layout-justified);
        @apply(--layout-horizontal);
      }
      .flex-horizontal {
        @apply(--layout-horizontal);
      }
      .flexchild {
        @apply(--layout-flex);
      }
      .header {
        margin-bottom: 40px;
      }
      .header2 {
        text-align: center;
        font-size: 22px;
      }
      .sub-header {
        padding: 10px;
        margin: 0px;
      }
      h3, h6 {
        margin: 0px;
        padding: 0px;
        text-align: center;
      }
      .centerd {
        @apply(--layout-self-center);
      }

      #submitBtn {
        margin-top: 40px;
        margin-bottom: 40px;
	    	display: table;
        margin-left: auto;
        margin-right: auto;
      }
      .element {
        margin-top: 20px;
      }
    </style>

    <div class="card">
      <div class="flex-horizontal header">
        <div class="header1"><img src="{{groupImage}}" class="logo centerd"></div>
        <div class="flexchild header2 flex-justified">
          <div class="centerd sub-header flexchild">
            <h3>{{titleTile}}</h3>
            <h6>{{descTile}}</h3>
          </div>
        </div>
      </div>

      <template is="dom-repeat" items="{{inputModels}}"
          filter="_isShown" observe="type hidden">
        <div class="element">
          <forms-input-illustrator
            id="[[item.$key]]"
            key="[[item.$key]]"
            type="[[item.type]]"
            label="[[item.label]]"
            validation="[[item.validation]]"
            satisfied="{{item.satisfied}}"
          ></forms-input-illustrator>
        </div>
      </template>


      <paper-button 
        id="submitBtn"
        on-tap="_tapSubmitForm"
        raised disabled="[[requiredElementsSatisfied(inputModels.*)]]"
      >Submit Form</paper-button>
    </div> <!-- End card div -->
  </template>




  <script>
    Polymer({
      is: 'forms-input',
      properties: {
        
        /**
         * Image to display on the form.
         */
        groupImage: String,
        
        /**
         * The title to display on the form.
         */
        titleTile: String,

        /**
         * The form description to display
         */
        descTile: String,

        /** 
         * The input models to render on the form.
         */
        inputModels: {
          type: Array,
          value: [
            {
              $key: '24t4ngpyg2btpi',
              type: 'varchar',
              label: 'Enter your name from array',
              satisfied: false,
              hidden: true,
              validation: {
                required: true
              }
            },
            {
              $key: '862tog3bilubkfn4iub',
              type: 'text',
              label: 'Enter a desription from array',
              satisfied: false,
              hidden: false,
              validation: {
                required: true
              }
            }
          ]
        }
      },

      _isShown: function(item) {
        return !item.hidden;
      },


      reset: function() {
        for(var i = 0; i < this.inputModels.length; i++) {
          var key = this.inputModels[i].$key;
          var el = this.$$('#' + key);
          el && el.reset();
        }
      },

      /** 
       * Returns true when all the inputs that are required have
       * been satisfied. Meaning they have a value that passes
       * their validation, however that is modeled.
       */ 
      requiredElementsSatisfied: function(inputs) {
        var base = inputs.base || [];
        for(var i = 0; i < base.length; i++) {
          if(base[i].hidden) continue;
          var satisfied = base[i] && base[i].satisfied || false;
          if(!satisfied) return true;
        }
        return false;
      },

       /**
       * Submit the form when validation is satisfied.
       *
       * @event form-submited
       */
      _tapSubmitForm: function() {
        var array = [];
        for(var i = 0; i < this.inputModels.length; i++) {
          var key = this.inputModels[i].$key;
          var el = this.$$('#' + key);
          
          if(this.inputModels[i].hidden === false)
            array[key] = el.value;
        }
        this.fire('form-submited', {result: array});
      }
    });
  </script>
</dom-module>
