<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="types/varchar-input-illustrator.html">
<link rel="import" href="types/text-input-illustrator.html">
<link rel="import" href="types/number-input-illustrator.html">
<link rel="import" href="types/toggle-input-illustrator.html">


<!--
`forms-input-illustrator`
Element acts as a meditor for displaing the type of element 
that the model represents, aswell as loading all the element types.

@demo demo/ill-demo.html 
-->

<dom-module id="forms-input-illustrator">
  <template>
    <style>
      .container {
	      border-left: 5px solid #42A5F5; 
        padding-left: 5px;	
      }
    </style>
    <div class="container">
      <template is="dom-if" if="{{_doesEquals(type, 'varchar')}}">
        <varchar-input-illustrator
          id="element"
          label="{{label}}"
	        validation="{{validation}}"
          satisfied="{{satisfied}}"
          placeholder="{{placeholder}}"
          value="{{value}}"
  	  ></varchar-input-illustrator>
      </template>


      <template is="dom-if" if="{{_doesEquals(type, 'text')}}">
        <text-input-illustrator
          id="element"
          label="{{label}}"
          validation="{{validation}}"
          satisfied="{{satisfied}}"
          placeholder="{{placeholder}}"
          value="{{value}}"
        ></text-input-illustrator>
      </template> 	


      <template is="dom-if" if="{{_doesEquals(type, 'number')}}">
        <number-input-illustrator
          id="element" 
          label="{{label}}"
          validation="{{validation}}"
          satisfied="{{satisfied}}"
          placeholder="{{placeholder}}"
          value="{{value}}"
        ></number-input-illustrator>
      </template>

      <template is="dom-if" if="{{_doesEquals(type, 'toggle')}}"> 
        <toggle-input-illustrator
          id="element"
          label="{{label}}"
          validation="{{validation}}"
          satisfied="{{satisfied}}"
          placeholder="{{placeholder}}"
          value="{{value}}"
        ></toggle-input-illustrator>
      </template>
    </div> <!-- End container div -->
  </template>

  <script>
    Polymer({
      is: 'forms-input-illustrator',
      properties: {

        /**
         * The key of the input model.
         */
        key: String,

        /**
         * Element type to display.
         */
        type: String,
	
        /** 
        * Label for the element.
        */
        label: String,

        /**
         * Place holder string,
         */
        placeholder: String,

        /**
         * Elements validation model.
         */
         validation: {
          type: Object
         },

 	      /**
         * Has this elements value been satisfied.
         */
	      satisfied: {
          type: Boolean,
          notify: true
        },

        /**
         * The value of the active element.
         */ 
        value: {
          type: String
        }
        
      },
      reset: function() {
        var el = this.$$('#element');
        el.reset();
      },
      /**
       * Is this the correct types.
       */
      _doesEquals: function(type, equals) {
        return type === equals;
      }
    });
  </script>
</dom-module>
