<<link rel="import" href="../../polymer/polymer.html">
<link rel="import" href="../../paper-input/paper-input.html">


<dom-module id="number-input-illustrator">

  <template>
    <paper-input
      label="[[label]]"
      value="{{value}}"
      placeholder="[[placeholder]]"
      type="number"
    ></paper-input>
  </template>

  <script>
    Polymer({
      is: 'number-input-illustrator',

      properties: {
        /**
         * Label for the box.
         */
        label: String,

        /**
         * Validation Object.
         */
        validation: Object,

        /**
         * Place holder string.
         */
        placeholder: String,

        /**
         * The inputs actual value.
         */
        value: {
          type: Number,
          value: 0,
          notify: true
        },

        /**
         * Has required been satisfied.
         */
        satisfied: {
          type: Boolean,
          notify: true
        }
      },

      observers: [
        '_stateChagned(value, validation.*)'
      ],


      reset: function() {
        this.set('value', 0);
      },

      _stateChagned: function(val, req) {
        var validation = req.base;
        
        if(validation.required) {
          if(val > validation.minNum && val < validation.maxNum) {
            this.set('satisfied', true);
          } else {
            this.set('satisfied', false);
          }
          return;
        } 
        this.set('satisfied', true);
        // if(val > 0) {
        //   this.set('satisfied', true);
        //   return;
        // }
        // this.set('satisfied', false);
      }
      
    });
  </script>

</dom-module>