<link rel="import" href="../../polymer/polymer.html">
<link rel="import" href="../../paper-input/paper-textarea.html">


<dom-module id="text-input-illustrator">

	<template>
		<style>
		</style>

		<paper-textarea
			label="[[label]]"
			value="{{value}}"
			char-counter
			required="[[required]]"
			placeholder="[[placeholder]]"
      rows="3"
		></paper-textarea>
	</template>

	<script>
	Polymer({
		is: 'text-input-illustrator',
		
		properties: {
      
      /**
       * The label to use for the textbox.
       */
			label: String,

      /**
       * Validation object. 
			 * @type {Object}
       */
      validation: {
				type: Object,
				value: {
					required: true,
					minLen: 1,
					maxLen: 99999
				}
			},
			
      /**
			 * The input value of the element.
			 * @type {String}
			 */
			value: {
				type: String,
				value: '',
				notify: true
			},

			/**
			 * Has required been satisfied.
			 */
			satisfied: {
				type: Boolean,
				notify: true
			}
		},

		observers: [
			'_stateChagned(value, validation.*)'
		],

		reset: function() {
			this.set('value', '');
		},


		_stateChagned: function(val, req) {
			var validation = req.base;
			if(validation.required) {
				if(val.length > validation.minLen &&
				   val.length < validation.maxLen) {
					this.set('satisfied', true);
				} else {
					this.set('satisfied', false);
				}
				return;
			}
			this.set('satisfied', true);
		}
	});
	</script>
</dom-module>