<link rel="import" href="../../polymer/polymer.html">
<link rel="import" href="../../paper-input/paper-input.html">
<link rel="import" href="../../paper-toggle-button/paper-toggle-button.html">

<dom-module id="toggle-input-illustrator">

  <template>
   <paper-toggle-button value="{{checked}}">[[label]]</paper-toggle-button>
  </template>

  <script>
    Polymer({
      is: 'toggle-input-illustrator',

      properties: {
        /**
         * Label for the box.
         */
        label: String,

        /**
         * Validation Object.
         */
        validation: Object,

        /**
         * Place holder string.
         */
        placeholder: String,

        /**
         * The inputs actual value.
         */
        value: {
          type: Number,
          value: 0,
          notify: true
        },

        /**
         * Has required been satisfied.
         */
        satisfied: {
          type: Boolean,
          notify: true,
          value: true
        }
      },

      reset: function() {
        this.set('value', 0);
      }
      
    });
  </script>

</dom-module>