<link rel="import" href="../../polymer/polymer.html">
<link rel="import" href="../../paper-input/paper-input.html">


<dom-module id="varchar-input-illustrator">

	<template>
		<style>
		</style>

		<paper-input
			label="[[label]]"
      value="{{value}}"
			placeholder="[[placeholder]]"
			char-counter
		></paper-input>
		
	</template>

	<script>
	Polymer({
		is: "varchar-input-illustrator",


		properties: {
      /**
       * Label for the textbox.
       */
			label: String,
			
			/**
			 * Validation object.
			 */
			validation: {
				type: Object,
				value: {	
					required: true,
					minLen: 1,
					maxLen: 255
				}
			},

			/**
			 * String for input place holder text.
			 */
			placeholder: String,
			
			/**
			 * The inputs value.
			 */
			value: {
				type: String,
				value: '',
				notify: true
			},

			/**
			 * Has required been satisfied.
			 */
			satisfied: {
				type: Boolean,
				notify: true
			}
		},
		

		observers: [
			'_stateChagned(value, validation.*)'
		],

		reset: function() {	
			this.set('value', '');
		},

		_stateChagned: function(val, req) {
			var validation = req.base;
			if(validation.required) {
				// validation to have been passed to be satisfied
				if(val.length > validation.minLen && 
				   val.length < validation.maxLen) {
					this.set('satisfied', true);
				} else {
					this.set('satisfied', false);
				}
				return;
			}
			this.set('satisfied', true);
		}
	})
	</script>
</dom-module>