<!doctype html>
<html>
  <head>
    <title>forms-input demo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=yes">
    <script src="../../webcomponentsjs/webcomponents-lite.js"></script>

    <link rel="import" href="../../iron-demo-helpers/demo-pages-shared-styles.html">
    <link rel="import" href="../../iron-demo-helpers/demo-snippet.html">

    <link rel="import" href="../../polyfire-authdgrouping-manager/models/forms-packages-model.html">

    <link rel="import" href="../forms-input.html">

    <style is="custom-style" include="demo-pages-shared-styles">
    </style>
  </head>
  <body>

    <div class="vertical-section-container centered" style="width: min-width: 400px; width: 80%; max-width: 700px;">
      <h3>Basic forms-input Demo</h3>
      <main-element></main-element>
    </div>

    <dom-module id="main-element">
      <template>

      <firebase-app
        api-key="AIzaSyAVU6_SILlDeWq1BUtFEtaVVHBHOACJeZo"
        auth-domain="forms-apps-8981f.firebaseapp.com"
        database-url="https://forms-apps-8981f.firebaseio.com"
      ></firebase-app>
      
      
        <forms-packages-model
          group-key="testing"
          item-name="builders-timesheet"
          package="{{package}}"
        ></forms-packages-model>

        <forms-input
            group-image="http://i63.tinypic.com/kcjija.png"
            title-tile="My Teams Timesheet Form"
            input-models="{{package.inputs}}"
            on-form-submited="_submited"
          ></forms-input>
      </template>
      <script>
        HTMLImports.whenReady(function() {
          Polymer({
            is: 'main-element',
            properties: {
              package: {
                type: Object,
                value: {},
                observer: '_packageChanged'
              }
            },
            _packageChanged: function(val) {
              console.log(val);
            },
            _submited: function(e) {
              console.log(e);
            }
          });
        });
      </script>
    </dom-module>

  </body>
</html>
